* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  background-image: url("asset/pokemon-battle.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffcb05;
  font-size: 3rem;
  text-decoration: underline;
  text-shadow: 3px 2px 5px red;
}
h1,
h2 {
  text-align: center;
}
h2,
span {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
.container {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 1%;
}
.unclickable {
  pointer-events: none;
}
.container {
  padding: 1%;
}

.container > div {
  margin: 2% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: rgb(223, 159, 159);
  width: 10%;
  gap: 1px;
}
span {
  background-color: rgb(223, 159, 159);
}
/* code used from arthur's tomagatchi to create modal*/
.modal {
  width: 50vw;
  max-width: 400px;
  padding: 30px;
  position: fixed;
  top: 45%;
  transform: translateY(-20%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(179, 95, 95);
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(112, 96, 96, 0.2);
  text-align: center;
  opacity: 1;
  visibility: visible;
  color: goldenrod;
}

.container div img {
  transition: all 0.3s ease-in-out;
}
.container div img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(120%);
}

.modal button {
  padding: 10px;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
.modal button:hover {
  cursor: pointer;
  background-color: #ffcb05;
}

.mainscreen {
  display: none;
}

#battleContainer {
  height: 70vh;
  width: 80vw;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#battleContainer .healthStatus {
  height: 15%;
  display: flex;
  justify-content: space-evenly;
}

#battleContainer .healthStatus h2 {
  width: 45%;
  text-align: center;
  height: 45%;
}
#battleContainer .poke1,
#battleContainer .poke2 {
  height: 40%;
  position: relative;
}
#battleContainer .poke2 > img {
  position: absolute;
  top: 30%;
  width: 40%;
  height: 70%;
  left: 30%;
  object-fit: contain;
  padding-right: 27%;
  padding-top: 0%;
  padding-bottom: 0%;
  z-index: 5;
}
#battleContainer .poke2 > div {
  height: 30%;
  width: 30%;
  /* border: blue 4px solid; */
  display: flex;
  justify-content: space-evenly;
}

#battleContainer .poke1 > div {
  height: 30%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 70%;
}
#battleContainer .poke2 {
  text-align: left;
}

#battleContainer .poke1 {
  text-align: right;
}
#battleContainer .poke1 > img {
  margin-top: 2%;
  position: absolute;
  right: 30%;
  top: 14%;
  width: 40%;
  height: 70%;
  object-fit: contain;
  padding-left: 25%;
  z-index: 0;
}

.health-bar {
  background: linear-gradient(
    to right,
    red 0%,
    red calc(var(--percentage) * 1%),
    white calc(var(--percentage) * 1%),
    white 100%
  );
}

.notattacking {
  visibility: hidden;
}

h4 {
  color: red;
  font-size: 1.5rem;
}

#battleContainer button {
  cursor: pointer;
}

@media (max-width: 390px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .container > div {
    width: 50%;
  }
}

@media (min-width: 391px) and (max-width: 618px) {
  .container {
    display: flex;
  }
  .container > div {
    width: 30%;
  }
}

@media (min-width: 618px) and (max-width: 900px) {
  .container {
    display: flex;
  }

  .container > div {
    width: 23%;
  }
}
